@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100vh;
    
    font-size: 1.6rem;
    font-family: 'Open sans', sans-serif;
    background: linear-gradient(#80FFDB, #5390D9);
}

.container{
    text-align: center;
    font-size: 3.0rem;
    width: min(42.8rem, 90%);
    background: white;
    padding: 1.6rem;
    border-radius: 1.0rem;
}


