@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
}

body{
    display: grid;
    place-items: center;
    height: 100vh;

    font-family: 'Roboto', sans-serif;
    font-size: 2.6rem;
}

.container{
    display: grid;
    place-items: center;
    gap: 1.6rem;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    width: 40.8rem;
    border-radius: 1.6rem;
    padding: 1.6rem;
}

table{
    width: 90%;
}

table input{
    width: 100%;
    font-size: 2.5rem;
    padding: 1.6rem;
    height: 6.0rem;
    border: 2px solid blue;
    border-radius: .5rem;
    margin-bottom: 1.6rem;
}

table button{
    font-size: 2.0rem;
    border-radius: .5rem;
    color: white;
    border: none;
    padding: 1.6rem;
    width: 100%;
    background: rgb(112, 112, 234);
}