@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
}

body{
    font-family: 'Open sans', sans-serif;
    font-size: 1.6rem;
    height: 100vh;
    background: linear-gradient(#80FFDB, #5390D9);

    display: grid;
    place-items: center;
}

.container{
    max-width: 68.5rem;
    background: white;
    border-radius: 1.6rem;
    padding: 1.6rem;
}

.section{
    display: flex;
    width: 100%;
}

.section section:nth-child(1){
    width: 50%;
}

.section section:nth-child(2){
    width: 50%;
    margin-bottom: 1.6rem;
}

form input, form button, form label{
    width: 100%;
    margin-bottom: 1.6rem;
}

form input{
    border-radius: 1.0rem;
    border: 1px solid rgb(144, 144, 174);
    padding: 1.0rem;
}

form button{
    border-radius: 1.0rem;
    border: none;
    padding: 1.0rem;
    background: blueviolet;
    color: white;
    font-weight: bold;
    font-size: 1.6rem;
    cursor: pointer;
}

form button:hover{
    background: rgb(155, 77, 228);
}

.result{
    width: 100%;
    padding: 2.6rem;
    border-radius: 0.6rem;
    background: rgb(68, 55, 81);
    color: white;
    font-weight: bold;
}

.close{
    display: none;
}